{% include template_dir + "/header_src_file.jinja" %}

#ifndef SOURCE_BOARD_STM32_{{ chip_family }}_{{ board }}_INCLUDE_DISTORTOS_BOARD_LEDS_HPP_
#define SOURCE_BOARD_STM32_{{ chip_family }}_{{ board }}_INCLUDE_DISTORTOS_BOARD_LEDS_HPP_

#include "distortos/chip/STM32-GPIO{{ gpio_version }}.hpp"

#include <array>

namespace distortos
{

#ifdef CONFIG_BOARD_LEDS_ENABLE

namespace chip
{

class ChipOutputPin;

}	// namespace chip

#endif	// def CONFIG_BOARD_LEDS_ENABLE

namespace board
{

/// total number of LEDs on the board
constexpr size_t totalLeds {CONFIG_BOARD_TOTAL_LEDS};

/*---------------------------------------------------------------------------------------------------------------------+
| LED indexes
+---------------------------------------------------------------------------------------------------------------------*/

{% for id, alternative_id in leds_ids %}
/// index of {% filter upper %}{{id}}{% endfilter %} LED ({{ alternative_id }}) 
constexpr size_t {{ id }}LedIndex {{ '{' }}{{loop.index - 1}}{{ '}' }};
{% endfor %}

/*---------------------------------------------------------------------------------------------------------------------+
| alternative (color-based) LED indexes
+---------------------------------------------------------------------------------------------------------------------*/

{% for id, alternative_id in leds_ids %}
/// alternative index of {% filter upper %}{{id}}{% endfilter %} LED ({{ alternative_id }}) 
constexpr size_t {{ alternative_id }}LedIndex {{ '{' }}{{ id }}LedIndex{{ '}' }};
{% endfor %}

#ifdef CONFIG_BOARD_LEDS_ENABLE

/*---------------------------------------------------------------------------------------------------------------------+
| indexed access to LED objects
+---------------------------------------------------------------------------------------------------------------------*/

/// array with all LED objects
extern chip::ChipOutputPin leds[totalLeds];

#endif	// def CONFIG_BOARD_LEDS_ENABLE

}	// namespace board

}	// namespace distortos

#endif	// SOURCE_BOARD_STM32_{{ chip_family }}_{{ board }}_INCLUDE_DISTORTOS_BOARD_LEDS_HPP_
{{''}}