{% include template_dir + "/header_cpp_file.jinja" %}

#include "distortos/board/lowLevelInitialization.hpp"

#include "distortos/chip/CMSIS-proxy.h"

namespace distortos
{

namespace board
{

/*---------------------------------------------------------------------------------------------------------------------+
| global functions
+---------------------------------------------------------------------------------------------------------------------*/

void lowLevelInitialization()
{ {% if chip_family == "STM32L0" %}
	RCC->IOPENR |=
	{% for item in used_pins_groups -%}
		RCC_IOPENR_GPIO{% filter upper %}{{ item }}{% endfilter %}EN |
	{% endfor -%}
{% elif chip_family == "STM32F0" %}
	RCC->AHBENR |=
	{% for item in used_pins_groups -%}
		RCC_AHBENR_GPIO{% filter upper %}{{ item }}{% endfilter %}EN |
	{% endfor -%}
{% elif chip_family == "STM32F1" %}
	RCC->APB2ENR |=
	{% for item in used_pins_groups -%}
		RCC_APB2ENR_IOP{% filter upper %}{{ item }}{% endfilter %}EN |
	{% endfor -%}
{% elif chip_family == "STM32F4" %}	
	RCC->AHB1ENR |=
	{% for item in used_pins_groups -%}
		RCC_AHB1ENR_GPIO{% filter upper %}{{ item }}{% endfilter %}EN |
	{% endfor -%}
{% endif -%}
			0;
}

}	// namespace board

}	// namespace distortos
{{''}}
