{{- output_template__leds__ -}}
{%- set file_type_in_header = 'LED' -%}
{% include "header_cpp_file.jinja" %}

#include "distortos/board/leds.hpp"

#ifdef CONFIG_BOARD_LEDS_ENABLE

#include "distortos/chip/ChipOutputPin.hpp"

namespace distortos
{

namespace board
{

/*---------------------------------------------------------------------------------------------------------------------+
| global objects
+---------------------------------------------------------------------------------------------------------------------*/

chip::ChipOutputPin leds[totalLeds]
{ {% for item in leds_pins %} 
	/// configuration for led {% filter upper %}{{leds_ids[loop.index - 1][0]}}{% endfilter %}
	{% include gpio_output_template %}
{% endfor %} 
};

}	// namespace board

}	// namespace distortos

#endif	// def CONFIG_BOARD_LEDS_ENABLE
{{''}}
