{{- output_template__buttons__ -}}
{%- set file_type_in_header = 'BUTTON' -%}
{% include "header_cpp_file.jinja" %}

#include "distortos/board/buttons.hpp"

#ifdef CONFIG_BOARD_BUTTONS_ENABLE

#include "distortos/chip/ChipInputPin.hpp"

namespace distortos
{

namespace board
{

/*---------------------------------------------------------------------------------------------------------------------+
| global objects
+---------------------------------------------------------------------------------------------------------------------*/

const chip::ChipInputPin buttons[totalButtons]
{
{% for item in buttons_pins %} 
	/// configuration for button {% filter upper %}{{buttons_ids[loop.index - 1][0]}}{% endfilter %}
	{% include gpio_input_template %}
{% endfor %}
};

}	// namespace board

}	// namespace distortos

#endif	// def CONFIG_BOARD_BUTTONS_ENABLE
{{''}}
