{{- header_file__hpp_file -}}
{%- from 'create_date.jinja' import createDate -%}
/**
 * File generated with scripts/generateBoard.py:
 * Copyright (C) 2017 Cezary Gapinski cezary.gapinski@gmail.com
 *
 * \file
 * \brief Declaration of {{file_type_in_header}}s for {{ board }}
 *
 * \author Copyright (C) {{ createDate(begin_year, actual_year) }} Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
 *
 * \par License
 * This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
 * distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
