{{- output_template__Kconfig_boardChoices -}}
{%- set file_type_in_header = 'Kconfig-boardChoices' -%}
{% include "header_config_file.jinja" %}

{% macro createHasCondition(type, groups) -%}
{% for id in groups -%}
	{% set gpio_en_str = ['CHIP_STM32_GPIO', gpio_version, '_GPIO', id, '_ENABLE'] -%}
	{% if loop.first -%}
		{% set str = '	select BOARD_HAS_' + type + 'if ' + gpio_en_str|join|upper -%}
		{% if not loop.last -%}
			{% set str = str + ' ||	\\' -%}
		{% endif -%}
	{% else -%}
		{% set str = '		' + gpio_en_str|join|upper -%}
		{% if not loop.last -%}
			{% set str = str + '||	\\' -%}
		{% endif -%}
	{% endif -%}
	{{ str }}
{% endfor -%}
{% endmacro -%}

config BOARD_{{ board|replace('-', '_') }}
	bool "{{ board }}"
	depends on CHIP_{{ chip_family }}
	select CHIP_{{ device }}
{{ createHasCondition('LEDS ', used_pins_groups_leds) -}}
{{ createHasCondition('BUTTONS ', used_pins_groups_buttons) }}
	help
		{{ board_description }}
{{''}}