{{- output_template__Kconfig_boardChoices -}}
{%- set file_type_in_header = 'Kconfig-boardChoices' -%}
{% include "header_config_file.jinja" %}

config BOARD_{{ board|replace('-', '_') }}
	bool "{{ board }}"
	depends on CHIP_{{ chip_family }}
	select CHIP_{{ device }}
{%- for id in used_pins_groups_leds %}
	{%- if loop.index == 1 %}
	select BOARD_HAS_LEDS if CHIP_STM32_GPIO{% filter upper %}{{ gpio_version }}{% endfilter %}_GPIO{% filter upper %}{{ id }}{% endfilter %}_ENABLE ||	\
	{% else -%}
	CHIP_STM32_GPIO{% filter upper %}{{ gpio_version }}{% endfilter %}_GPIO{% filter upper %}{{ id }}{% endfilter %}_ENABLE ||	\
	{% endif -%}
{% endfor -%}
	0
{%- for id in used_pins_groups_buttons %}
	{%- if loop.index == 1 %}
	select BOARD_HAS_BUTTONS if CHIP_STM32_GPIO{% filter upper %}{{ gpio_version }}{% endfilter %}_GPIO{% filter upper %}{{ id }}{% endfilter %}_ENABLE ||	\
	{% else -%}
	CHIP_STM32_GPIO{% filter upper %}{{ gpio_version }}{% endfilter %}_GPIO{% filter upper %}{{ id }}{% endfilter %}_ENABLE ||	\
	{% endif -%}
{% endfor -%}
	0
	help
		{{ board_description }}
{{''}}