{{- output_template__Kconfig_boardChoices -}}
{%- set file_type_in_header = 'Kconfig-boardChoices' -%}
{% include "header_config_file.jinja" %}

config BOARD_{{ board|replace('-', '_') }}
	bool "{{ board }}"
	depends on CHIP_{{ chip_family }}
	select CHIP_{{ device }}
{% for id in used_pins_groups_leds -%}
	{% set gpio_en_str = ['CHIP_STM32_GPIO', gpio_version, '_GPIO', id, '_ENABLE'] -%}
	{% if loop.first -%}
		{% set str = '	select BOARD_HAS_LEDS if ' + gpio_en_str|join|upper -%}
		{% if not loop.last -%}
			{% set str = str + ' ||	\\' -%}
		{% endif -%}
	{% else -%}
		{% set str = '		' + gpio_en_str|join|upper -%}
		{% if not loop.last -%}
			{% set str = str + '||	\\' -%}
		{% endif -%}
	{% endif -%}
	{{ str }}
{% endfor -%}
{% for id in used_pins_groups_buttons -%}
	{% set gpio_en_str = ['CHIP_STM32_GPIO', gpio_version, '_GPIO', id, '_ENABLE'] -%}
	{% if loop.first -%}
		{% set str = '	select BOARD_HAS_BUTTONS if ' + gpio_en_str|join|upper -%}
		{% if not loop.last -%}
			{% set str = str + ' ||	\\' -%}
		{% endif -%}
	{% else -%}
		{% set str = '		' + gpio_en_str|join|upper -%}
		{% if not loop.last -%}
			{% set str = str + '||	\\' -%}
		{% endif -%}
	{% endif -%}
	{{ str }}
{% endfor %}
	help
		{{ board_description }}
{{''}}