{% include 'templates/header.jinja' %}

#include "distortos/board/leds.hpp"

#ifdef CONFIG_BOARD_LEDS_ENABLE

#include "distortos/chip/ChipOutputPin.hpp"

namespace distortos
{

namespace board
{

/*---------------------------------------------------------------------------------------------------------------------+
| global objects
+---------------------------------------------------------------------------------------------------------------------*/

chip::ChipOutputPin leds[totalLeds]
{ {% for item in leds_pins %} 
	/// index of chip::Pin::{{item["pin"]}}
	chip::ChipOutputPin{ chip::Pin::{{item["pin"]}}, {% filter lower %}{{item["openDrain"]}}{% endfilter %}, {{item["pinOutputSpeed"]}}, {{item["pinPull"]}}, {{item["initialState"]}} }, 
{% endfor %} 
};

}	// namespace board

}	// namespace distortos

#endif	// def CONFIG_BOARD_LEDS_ENABLE
