{% include 'templates/header.jinja' %}

#ifndef SOURCE_BOARD_STM32_{{ board }}_INCLUDE_DISTORTOS_BOARD_LOW_LEVEL_PIN_INITIALIZATION_HPP_
#define SOURCE_BOARD_STM32_{{ board }}_INCLUDE_DISTORTOS_BOARD_LOW_LEVEL_PIN_INITIALIZATION_HPP_

namespace distortos
{

namespace board
{

void lowLevelPinInitialization();

}	// namespace board

}	// namespace distortos

#endif	// SOURCE_BOARD_STM32_{{ board }}_INCLUDE_DISTORTOS_BOARD_LOW_LEVEL_PIN_INITIALIZATION_HPP_
