{% include board_template_dir + "/header_cpp_file.jinja" %}

#include "distortos/board/lowLevelInitialization.hpp"

#include "distortos/chip/CMSIS-proxy.h"

namespace distortos
{

namespace board
{

/*---------------------------------------------------------------------------------------------------------------------+
| global functions
+---------------------------------------------------------------------------------------------------------------------*/

void lowLevelInitialization()
{
#ifdef CONFIG_BOARD_BUTTONS_ENABLE {% set used_pins_groups = used_pins_groups_buttons %}
{% include gpio_clk_en_template_dir + "/gpioClockEn.jinja" %}
#endif
#ifdef CONFIG_BOARD_LEDS_ENABLE {% set used_pins_groups = used_pins_groups_leds %}
{% include gpio_clk_en_template_dir + "/gpioClockEn.jinja" %}
#endif
}

}	// namespace board

}	// namespace distortos
{{''}}
