# File generated with scripts/generateBoard.py:
# Copyright (C) 2017 Cezary Gapinski cezary.gapinski@gmail.com
#
# file: Kconfig-boardChoices
#
# author: Copyright (C) 2015-2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

config BOARD_CUSTOM_BOARD
	bool "CUSTOM-BOARD"
	depends on CHIP_STM32F1
	select CHIP_STM32F103RB
	select BOARD_HAS_LEDS if CHIP_STM32_GPIOV1_GPIOA_ENABLE ||	\
		CHIP_STM32_GPIOV1_GPIOG_ENABLE
	select BOARD_HAS_BUTTONS if CHIP_STM32_GPIOV1_GPIOC_ENABLE ||	\
		CHIP_STM32_GPIOV1_GPIOB_ENABLE

	help
		CUSTOM-BOARD board with STM32F103RB chip in LQFP64 package
